#tweets-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid black;
  /* height: 300px; */
}

#tweets-container:hover {
  box-shadow: 10px 5px 5px #d3d3d3;
}

.tweet {
  display: flex;
  flex-direction: column;
}

.tweet .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .picture-name {
  display: flex;
  align-items: center;
}

.tweet-footer i:hover {
  color: #4056a1;
}


